<% include header %>

<div id="main-container" class="px-5 mt-5 justify-content-center row">

	<div class="col-6">
		<div class="col-12">
			<p class="form-label fs-4 mt-5"><%= title %></p>
		</div>
		<div class="col-12">
			<p class="form-label fs-5 mt-5"><%= content %></p>
		</div>
		<div class="row mt-5 justify-content-end">
			<div class="d-inline-block col-1">
				<a href="javascript:history.back()" class="btn btn-primary">목록으로</a>
			</div>
		</div>
	</div>
</div>

<% include footer %>